.main-container{
    width: 100% !important;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    position: fixed;
    z-index: 5;
    padding: 0px;
    top: 0px;}

.header-inner{
    background-color: rgb(246, 244, 244);
}

.header-list-1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logo1{
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.8) 0px -5px 7px;
    border-bottom: none;
}

.logo1:hover{
    background-color: yellow;
}

.logo2{
    width: 100px;
    height: 70px;
    border-right: solid 2px #dbd9d9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    text-align: center;
}

.logo2:hover{
    background-color: yellow;
}

.logo3{
    width: 100px;
    height: 70px;
    border-right: solid 2px #dbd9d9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    text-align: center;
}

.logo3:hover{
    background-color: yellow;
}

.logo4{
    width: 185px;
    height: 60px;
    border-right: solid 2px #dbd9d9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    text-align: center;
}

.logo4:hover{
    background-color: black;
}

.logo5{
    width: 185px;
    height: 60px;
    border-right: solid 2px #dbd9d9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    text-align: center;

}

.logo5:hover{
    background-color: rgb(241, 28, 92);
}

.logo6{
    width: 185x;
    height: 60px;
    border-right: solid 2px #dbd9d9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    text-align: center;

}

.logo6:hover{
    background-color: yellowgreen;
}

.home-header{
    margin-top: 0%;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgba(146,146,04) 1px 1px 2px;
}

.header-down{
    margin-top: 73px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.header-down-inner{
    display: flex;
    width: 70%;
    height: 100%;
    list-style: none;
    justify-content: space-between;
    background-color: rgb(252, 252, 248);
    align-items: center;
    margin-bottom: 0px;
}



.home>img{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 12px;

}

.pokedex > i{
    padding: 20px;
    border-bottom: 7px solid rgb(227, 53, 13);
    margin-left: 20px;
}

.header-two{
    margin: auto;
    text-align: center;
}

.header-two>.box{
    padding: 10px;
}

.header-two>.box> span{
    color: inherit;
}

.one{
    border-bottom: 3px solid gray;
}

.one:hover{
    background-color: gray;
    color: white;
}

.two{
    border-bottom: 3px solid red;
}

.two:hover{
    background-color: red;
    color: white;
}

.three{
    border-bottom: 3px solid orange;
}

.three:hover{
    background-color: orange;
    color: white;
}

.four{
    border-bottom: 3px solid yellow;
}

.four:hover{
    background-color: yellow;
    color: white;
}

.five{
    border-bottom: 3px solid green;
}

.five:hover{
    background-color: green;
    color: white;
}

.six{
    border-bottom: 3px solid skyblue;
}

.six:hover{
    background-color: skyblue;
    color: white;
}

.seven{
    border-bottom: 3px solid blue;
}

.seven:hover{
    background-color: blue;
    color: white;
}

.text{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #464646;
    font-size: 10px !important; 
}

.box{
    text-align: center;
    display: inline-block;
    color: gray;
    width: 80px;
    margin-left: -5px;
}

.bodycontent{
    width: 100%;
    background-image: url(images/bck\ img.png);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: inherit;
    object-fit: contain;
}

.fixed1{
    position: fixed;
    bottom: 80px;
    height: 150px;
    width: 60px;
    top: 150px;
    left: 0px;
    z-index: 1;
    border-top-right-radius: 15px;
}

.fixed-login{
    width: 60px;
    height: 110px;
    background-color: #54b564;
    border-top-right-radius: 13px;
    border-top: solid 3px #181818;
    text-align: center;
}

.fixed-login>img{
    margin-top: 20px;
    margin-left: 0px;
    width: 40px;
}

.fixed-login>p{
    font-family: sans-serif;
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.fixedsearch{
    color: white;
}

.fixed2{
    position: fixed;
    bottom: 15px;
    right: 0px;
    z-index: 1;
    border-radius: 5px;
    width: 80px;
    background-color: #fff;
    box-shadow: rgba(89,88,88,0,8) 0px -2px 7px;

}

.body-container{
    width: 70%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 30px;
}

.body-inner{
    width: 70%;
    display: flex;
    padding-top: 40px;
    padding-bottom:20px ;
}

.body-container>img{
    width: 100%;

}

.body-container>img{
    width: 100%;
}

 .main-body{
    width: 100%;
} 


.logo>img{
    width: 330px;
    display: flex;
    left: 110px;
    top: 200px;
    border-radius: 4px;
    
} 



.main-body{
    width: 430px;
    height: 352px;
    background-color: #734bb2;
    border: 2px solid blue;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    margin: -69px 12px 12px -315px;
    
}

.text-body{
    width: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: white;
}

.text-body>img{
    width: 120px;
    height: 70px;
    margin: 0px;
    position: relative;
    left: 308px;
    top: -64px
}

.text-body{
    font-size: 10px;
    font-weight: 500;
}

.left-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.scarlet-bottom{
    width: 100%;
    background-color: #e3350d;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;

}

.scarlet-bottom>img{
    width: 100%;

}

.scarlet-bottom2{
    width: 100%;
    background-color: #e6bc2f;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.scarlet-bottom2 img{
    width: 100%;
}

.pokemon-world{
    width: 48%;

}

.pk-world-des{
    width: 100%;
    padding: 0px;

}

.pk-world-des p{
    text-align: justify;
    width: 90%;
    font-size: 21px;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: white;
    margin-left: 15px;
}

.content-right{
    width: 27%;
    margin-left: 10px;
}

.scarlet-main-right1{
    width: 100%;
    background-color: #2154b4;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
    height: 230px;
}

.scarlet-main-right1 img{
    width: 100%;
}

.pk-right-des {
    width: 100%;
    padding: 0px;
  }

.pk-right-des p{
    text-align: justify;
    width: 90%;
    font-size: 21px;
    font-family: myFont;
    color: white;
    margin-left: 15px;
}

.scarlet-main-right2 img{
    width: 90%;
    object-fit: cover;
    margin-left: 5px;
    margin-top: 5px;
}

.scarlet-main-right2 {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #313131;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 15px;

}

.pk-right-des2{
    text-align: left;
    width: 90%;
    font-size: 14px;
    color: white;
    margin-left: 5px;

}